<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-clipboard-pipes-workflow</string>
	<key>connections</key>
	<dict>
		<key>1C5DA074-BE98-477B-B5E6-A8C7337DD51A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C8D9554-026B-4692-9D4B-02270990ADB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B5C5AAE-4B54-4052-9409-442F0E2DADFA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>and then pipe some more</string>
			</dict>
		</array>
		<key>26A5FDA9-D501-4C08-88C6-E180FE0EFE62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3478C09-5747-4A9A-A843-1200F038EB33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FCA10922-D78B-4338-88C4-D5EF9D2A5021</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>edit title</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9F87CE64-3FE0-4888-80FD-8685BA720525</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>delete pipe</string>
			</dict>
		</array>
		<key>3C8D9554-026B-4692-9D4B-02270990ADB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C6F063D-5836-4EF0-9091-FA002944F3DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5B5C5AAE-4B54-4052-9409-442F0E2DADFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C6F063D-5836-4EF0-9091-FA002944F3DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A3282E2A-9DA5-4F27-BF9C-F761705C6A82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9F87CE64-3FE0-4888-80FD-8685BA720525</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC9954BD-D067-4155-BA12-09C25D170BDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B3478C09-5747-4A9A-A843-1200F038EB33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87281245-7CB0-44DB-A01A-425D62D316B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FCA10922-D78B-4338-88C4-D5EF9D2A5021</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9039CB7-F9FD-4F04-87CB-6A9495A559DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>Workflow to apply bash-like snippets to the content of the clipboard, replacing it.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clipboard Pipes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>|</string>
				<key>script</key>
				<string>/usr/bin/ruby feedback.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1C5DA074-BE98-477B-B5E6-A8C7337DD51A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6C6F063D-5836-4EF0-9091-FA002944F3DE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby pipeit.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3C8D9554-026B-4692-9D4B-02270990ADB1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "| "</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>A3282E2A-9DA5-4F27-BF9C-F761705C6A82</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby pipeit.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B5C5AAE-4B54-4052-9409-442F0E2DADFA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>/usr/bin/ruby config.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B3478C09-5747-4A9A-A843-1200F038EB33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>configpipe</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby config_feedback.rb "{query}"</string>
				<key>title</key>
				<string>Add, edit or remove one-liners to run through pipes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>26A5FDA9-D501-4C08-88C6-E180FE0EFE62</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Created pipe</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>87281245-7CB0-44DB-A01A-425D62D316B8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Edited pipe</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E9039CB7-F9FD-4F04-87CB-6A9495A559DE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby config.rb "edit-name|{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FCA10922-D78B-4338-88C4-D5EF9D2A5021</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby config.rb "delete|{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F87CE64-3FE0-4888-80FD-8685BA720525</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Deleted pipe</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EC9954BD-D067-4155-BA12-09C25D170BDA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>1C5DA074-BE98-477B-B5E6-A8C7337DD51A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>26A5FDA9-D501-4C08-88C6-E180FE0EFE62</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3C8D9554-026B-4692-9D4B-02270990ADB1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5B5C5AAE-4B54-4052-9409-442F0E2DADFA</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6C6F063D-5836-4EF0-9091-FA002944F3DE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>87281245-7CB0-44DB-A01A-425D62D316B8</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9F87CE64-3FE0-4888-80FD-8685BA720525</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>A3282E2A-9DA5-4F27-BF9C-F761705C6A82</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B3478C09-5747-4A9A-A843-1200F038EB33</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>E9039CB7-F9FD-4F04-87CB-6A9495A559DE</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>EC9954BD-D067-4155-BA12-09C25D170BDA</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>FCA10922-D78B-4338-88C4-D5EF9D2A5021</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-clipboard-pipes-workflow</string>
</dict>
</plist>
